<div class="home-flash"><img src="images/banner-img.png" alt="" class="f-res-img"></div>
<div class="home-function">
  <div class="container12">
    <div class="grid4">
      <button class="btn"><i class="fa fa-calendar-check-o"></i>场馆签到</button>
    </div>
    <div class="grid4">
      <button class="btn btn-primary"><i class="fa fa-search"></i>预定查询</button>
    </div>
    <div class="grid4">
      <button class="btn"><i class="fa fa-book"></i>活动名单</button>
    </div>
  </div>
</div>
<div class="home-title">
  <span class="f-fr s-color-blue">2月8日 星期二</span>预定时间列表
</div>
<form class="home-list">
  <ul>
    <li><input type="radio" checked="" value="option1" name="optionsRadios">17:30 - 18:30</li>
    <li><input type="radio" value="option2" name="optionsRadios">18:30 - 19:30</li>
    <li><input type="radio" value="option3" name="optionsRadios">19:30 - 20:30</li>
    <li><input type="radio" value="option4" name="optionsRadios">20:30 - 21:30</li>
  </ul>
  <div class="fixed-bottom">
    <button class="btn btn-default">清楚已选</button>
    <button class="btn btn-primary">预定</button>
  </div>
</form>