<div class="page-time">时段 18:30 - 19:30</div>
<div class="page-venue">
  <div class="container12">
    <div class="grid3"><a href="#" class="active"><i class="fa fa-reddit-alien"></i><p>1号场</p></a></div>
    <div class="grid3"><a href="#"><i class="fa fa-modx"></i><p>2号场</p></a></div>
    <div class="grid3"><a href="#"><i class="fa fa-mortar-board"></i><p>3号场</p></a></div>
    <div class="grid3"><a href="#"><i class="fa fa-rocket"></i><p>4号场</p></a></div>
  </div>
</div>
<div class="page-sign">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>人员</th>
        <th>签到状态</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="sign-name">曹卉娟</span><img src="images/wx-img.png" alt="" class="wq-img"></td>
        <td><span class="s-color-green">已签到</span></td>
      </tr>
      <tr>
        <td><span class="sign-name">曹卉娟</span><img src="images/wx-img.png" alt="" class="wq-img"></td>
        <td>未签到</td>
      </tr>
      <tr>
        <td><span class="sign-name">曹卉娟</span><img src="images/wx-img.png" alt="" class="wq-img"></td>
        <td><span class="s-color-green">已签到</span></td>
      </tr>
      <tr>
        <td><span class="sign-name">曹卉娟</span><img src="images/wx-img.png" alt="" class="wq-img"></td>
        <td>未签到</td>
      </tr>
      <tr>
        <td><span class="sign-name">曹卉娟</span><img src="images/wx-img.png" alt="" class="wq-img"></td>
        <td><span class="s-color-green">已签到</span></td>
      </tr>
      <tr>
        <td><span class="sign-name">曹卉娟</span><img src="images/wx-img.png" alt="" class="wq-img"></td>
        <td>未签到</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="fixed-bottom">
  <button class="btn btn-default" ng-click="index()">返回</button>
</div>